In [1]:
import pandas as pd

import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [4]:
chipotle_data_frame = pd.read_table(url)
chipotle_data_frame

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [20]:
filtered = chipotle_data_frame.drop_duplicates(['item_name','quantity'])
one_prod = filtered[filtered.quantity == 1]
price_per_item_df = one_prod[['item_name', 'item_price']]
price_per_item_df

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
5                              Chicken Bowl    $10.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
16                          Chicken Burrito     $8.49
21                         Barbacoa Burrito     $8.99
27                         Carnitas Burrito     $8.99
28                              Canned Soda     $1.09
33                            Carnitas Bowl     $8.99
34                            Bottled Water     $1.09
38    Chips and Tomatillo Green Chili Salsa     $2.95
39                            Barbacoa Bowl    $11.75
40                                    Chips     $2.15
44                       Chicken Salad Bowl     $8.75
54                               Steak Bowl     $8.99
56                      Barbacoa Soft Tacos     $9.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
92                       Steak Crispy Tacos     $9.25
111     Chips and Tomatillo Red Chili Salsa     $2.95
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
191      Chips and Roasted Chili-Corn Salsa     $2.39
233      Chips and Roasted Chili Corn Salsa     $2.95
237                     Carnitas Soft Tacos     $9.25
250                           Chicken Salad    $10.98
263                       Canned Soft Drink     $1.25
298                       6 Pack Soft Drink     $6.49
300     Chips and Tomatillo-Red Chili Salsa     $2.39
510                                 Burrito     $7.40
520                            Crispy Tacos     $7.40
554                   Carnitas Crispy Tacos     $9.25
606                        Steak Salad Bowl    $11.89
664                             Steak Salad     $8.99
673                                    Bowl     $7.40
674       Chips and Mild Fresh Tomato Salsa     $3.00
738                       Veggie Soft Tacos    $11.25
1132                    Carnitas Salad Bowl    $11.89
1229                    Barbacoa Salad Bowl    $11.89
1414                                  Salad     $7.40
1653                    Veggie Crispy Tacos     $8.49
1694                           Veggie Salad     $8.49
3750                         Carnitas Salad     $8.99

1. Sort the values from most to less expensive.

In [21]:
price = lambda price: float(price[1:-1])

price_per_item_df.item_price = price_per_item_df.item_price.apply(price)

price_per_item_df.sort_values(['item_price'], ascending=False)

C:\Users\Rohan\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

2. What was the qunantity of most expensive item ordered.

In [29]:
price = lambda price : float(price[1:-1])
chipotle_data_frame.item_price = chipotle_data_frame.item_price.apply(price)
chipotle_data_frame.sort_values('item_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

3. How many times veggie salad bowl ordered

In [50]:
grouped_df = chipotle_data_frame.groupby(by='item_name')
data = grouped_df['item_name'].count()
data['Veggie Salad Bowl']

18